$include /etc/inputrc
set editing-mode vi
set show-mode-in-prompt on
set vi-cmd-mode-string (CMD)
set completion-ignore-case On
set colored-stats on
set colored-completion-prefix on
set editing-mode vi
set show-mode-in-prompt on
#set keymap vi-command
#set vi-cmd-mode-string "\1\e[3 q\2(CMD)"
#set vi-ins-mode-string "\1\e[1 q\2(ins)"
set vi-cmd-mode-string "(CMD)"
set vi-ins-mode-string "(ins)"
set keyseq-timeout 100
set enable-bracketed-paste on
