XTerm*utf8: 1
xterm*faceName: Monoid:size=9:antialias=true
!XTerm*font: -*-Monoid-Regular-XtraLarge-Dollar-0-1-l-NoCalt--18-*-*-*-*-*-iso10646-1
xterm*background: black
xterm*foreground: white
xterm*cursorColor: #d0d0d0
customization: -color
XTerm*termName:  xterm-256color
XTerm*cursorBlink: true
XTerm*ScrollKey: true
XTerm*ScrollBar: true
XTerm*rightScrollBar: true
XTerm.vt100.scrollbar.width: 10
XTerm*scrollColor: #FF0000
XTerm*borderColor: #454545
XTerm*ScrollBarBorder: 4
XTerm*visualBell: true
XTerm*alternateScroll: true
XTerm*metaSendsEscape: true
*color0:     #000000
*color1:     #cc0000
*color2:     #4E9A06
*color3:     #C4A000
*color4:     #3465A4
*color5:     #75507B
*color6:     #06989A
*color7:     #D3D7CF
*color8:     #555753
*color9:     #EF2929
*color10:    #8AE234
*color11:    #FCE94F
*color12:    #729FCF
*color13:    #AD7FA8
*color14:    #34E2E2
*color15:    #EEEEEC
XTerm*vt100*geometry: 132x24
