XTerm*utf8: 1
xterm*faceName: xft:Monoid:size=9:antialias=true
!XTerm*font: -*-Monoid-Regular-XtraLarge-Dollar-0-1-l-NoCalt--18-*-*-*-*-*-iso10646-1
xterm*background: black
xterm*foreground: white
xterm*cursorColor: #d0d0d0
customization: -color
XTerm*termName:  xterm-256color
XTerm*cursorBlink: true
XTerm*ScrollKey: true
XTerm*ScrollBar: true
XTerm*rightScrollBar: true
XTerm.vt100.scrollbar.width: 10
XTerm*borderColor: #454545
XTerm*ScrollBarBorder: 4
XTerm*visualBell: true
XTerm*alternateScroll: true
XTerm*metaSendsEscape: true
*color0:     #000000
*color1:     #cc0000
*color2:     #4E9A06
*color3:     #C4A000
*color4:     #3465A4
*color5:     #75507B
*color6:     #06989A
*color7:     #D3D7CF
*color8:     #555753
*color9:     #EF2929
*color10:    #8AE234
*color11:    #FCE94F
*color12:    #729FCF
*color13:    #AD7FA8
*color14:    #34E2E2
*color15:    #EEEEEC
XTerm*vt100*geometry: 132x24
URxvt.fading: 64
URxvt.geometry: 132x24
URxvt.foreground: white
URxvt.background: black
URxvt.color0:   #171A1B 
URxvt.color1:   #cc0000
URxvt.color2:   #4E9A06
URxvt.color3:   #C4A000
URxvt.color4:   #3465A4
URxvt.color5:   #75507B
URxvt.color6:   #06989A
URxvt.color7:   #D3D7CF
URxvt.color8:   #555753
URxvt.color9:   #EF2929
URxvt.color10:  #8AE234 
URxvt.color11:  #FCE94F
URxvt.color12:  #729FCF
URxvt.color13:  #AD7FA8
URxvt.color14:  #34E2E2
URxvt.color15:  #EEEEEC
URxvt.font: xft:Monoid:size=9:antialias=true
URxvt.visualBell: true
URxvt.perl-ext-common:  default,matcher,vtwheel
URxvt.perl-ext:  tabbed
URxvt.tabbed.tab-bg: 3
URxvt.scrollstyle: rxvt
URxvt.scrollBar_floating: true
URxvt.scrollColor: #EEEEEE
URxvt.scrollBar_right: true
URxvt.thickness: 12
URxvt.scrollTtyOutput:      false
URxvt.scrollWithBuffer:     true
URxvt.scrollTtyKeypress:    true
URxvt.letterSpace: -2
URxvt*cursorBlink: true
